<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    
    
    <add name="NautConnectionString" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=naut;password=lims;persist security info=True;user id=LIMS&quot;" />
    <add name="connectionStringOracle" connectionString="data source=nautprd;password=lims;persist security info=True;user id=LIMS" />

  </connectionStrings>
  <appSettings>
    <add key="InputPath" value="C:\ReadXml" />
    <add key="OutputPath" value="\\labsrv12\NautilusShare\RequestFiles\output\" />
    <add key="InstrumentInput" value="\\labsrv12\NautilusShare\Instrument\" />
    <add key="LogPath" value="C:\Work\LOG\log" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.1.0" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>